<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533886226292-m5j2or833relhdjnnff4p6hhus2627ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533886226292-m5j2or833relhdjnnff4p6hhus2627ho</string>
	<key>API_KEY</key>
	<string>AIzaSyAuehoNt862gr1umCKFe-bw9FxyMhX4iFM</string>
	<key>GCM_SENDER_ID</key>
	<string>533886226292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jbTailor</string>
	<key>PROJECT_ID</key>
	<string>jbtailors-72459</string>
	<key>STORAGE_BUCKET</key>
	<string>jbtailors-72459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533886226292:ios:0a59375d11b95f2fd36621</string>
</dict>
</plist>